#expanded {
    background-image: url('../img/background.jpg');
    background-attachment:fixed
}

#contenido {
    background-color: rgba(129, 137, 159,0.80);
}

p{
    font-size:0.90em;
}

#col1 {
    background-color: rgba(219, 223, 242,0.90);
}

#callpink {
    background-color: rgb(252, 232, 245);
}

a, button {
    color: #d25ea6;
}